{% extends 'home.html' %}

{% block content %}
<h1 style="text-align : center ; color: #EE6E73">{{ search | title }}<i class="large material-icons"
                                                                        style="color: #EE6E73">flash_on</i></h1>
<br>
<div class="container">
    <div class="row">
        {% for post in final_postings %}
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="{{ post.2 }}">
                </div>
                <div class="card-content">
                    <p>{{ post.0 }}</p>
                </div>
                <div class="card-action">
                    <a href="{{ post.1 }}">LINK</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content%}
